@charset "UTF-8";
/* body */
body {
  font-family: "Barlow Condensed", sans-serif;
  margin: 0;
  font-size: 18px;
  background-color: white;
  background-image: url(../images/fondo.png);
}

/*Títulos y subtítulos*/
h1 {
  background-image: linear-gradient(180deg, rgb(161, 91, 122) 5%, rgb(155, 62, 109) 37%, rgb(28, 15, 46) 76%);
  background-clip: text;
  color: transparent;
  margin: 18px;
  text-align: center;
  padding: 30px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 35px;
}

h2 {
  background-image: linear-gradient(90deg, rgb(161, 91, 122) 9%, rgb(155, 62, 109) 41%, rgb(28, 15, 46) 84%);
  background-clip: text;
  color: transparent;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: bold;
}

p {
  color: black;
}

/*Estilos del header*/
* {
  margin: 0;
  padding: 0;
  font-family: "Barlow Condensed", sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

header {
  background: #000000;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
header h2 {
  font-size: 18px;
  margin: 10px;
  text-transform: uppercase;
  color: white;
}
header img {
  height: 62px;
  margin: 15px;
}

nav ul {
  display: flex;
  font-weight: 500;
  padding-right: 10px;
}
nav a {
  display: inline-block;
  color: white;
  padding: 5px 0;
  margin: 0 10px;
  border: 3px solid transparent;
  text-transform: uppercase;
  transition: 0.5s;
}
nav a:hover {
  border-bottom-color: white;
  margin: 0 20px;
  transition: 1s;
}
nav .active {
  border-bottom-color: white;
}

.hamburger {
  cursor: pointer;
  display: none;
}
.hamburger div {
  width: 30px;
  height: 2.5px;
  margin: 5px 0;
  background: white;
}

/*Estilos del main de index*/
.contenido1 {
  display: grid;
  align-items: center;
  min-height: 100vh;
  background-image: url(../images/Portada.png);
  background-size: cover;
  background-position: center;
}
.contenido1 h1 {
  background: linear-gradient(180deg, #a97068 4%, #a14c4b 42%, #843232 70%);
  background-clip: text;
  color: transparent;
  text-align: center;
  position: relative;
  bottom: 35%;
  font-size: 40px;
  text-transform: none;
  text-decoration: none;
}
.contenido1 p {
  text-align: center;
  color: beige;
  background: radial-gradient(circle, #271f1f 16%, #382d2a 68%, #473b35 87%);
  padding: 3.5px;
  position: relative;
  top: 55%;
}

/*Estilos del main de biografía*/
.contenedor1 {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px;
}
.contenedor1 img {
  width: 850px;
  height: 350px;
  margin-right: 20px;
  border-radius: 2px;
  box-shadow: 3px 3px 10px lightgray;
  transition: 1s;
}

.contenedor2 {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 10px;
}
.contenedor2 img {
  width: 750px;
  height: 420px;
  margin-left: 20px;
  border-radius: 2px;
  box-shadow: 3px 3px 8px lightgray;
}

/*Estilos del main de miembros*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.boxcontenido {
  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;
  padding-left: 55px;
  padding-right: 55px;
}
.boxcontenido .box {
  flex: 1;
  margin: 20px 20px;
}
.boxcontenido .box img {
  width: 100%;
  height: auto;
  border-radius: 2px;
  box-shadow: 3px 3px 8px lightgray;
  margin: 5px;
  transition: 1s;
}
.boxcontenido .box img:hover {
  width: 108%;
  transition: 1s;
}
.boxcontenido .box p {
  margin: 2px;
}

.hitori {
  color: rgb(196, 105, 163);
  font-weight: bold;
  text-shadow: 1px 1px 2px #ceaebf;
}

.nijika {
  color: rgb(196, 169, 105);
  font-weight: bold;
  text-shadow: 1px 1px 2px #cebeae;
}

.ryo {
  color: rgb(105, 140, 196);
  font-weight: bold;
  text-shadow: 1px 1px 2px #aeb3ce;
}

.ikuyo {
  color: rgb(196, 105, 105);
  font-weight: bold;
  text-shadow: 1px 1px 2px #ceb2ae;
}

/*Estilos del main de música*/
* {
  box-sizing: border-box;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.gallery img {
  width: 380px;
  height: 380px;
  margin: 20px;
  box-shadow: 5px 5px 8px lightgray;
  transition: 1s;
}
.gallery img:hover {
  width: 400px;
  height: 400px;
  transition: 1s;
}

/*Estilos del main de merch*/
.gallery2 {
  display: inline-block;
  border: 1px solid hsl(0, 0%, 60%);
  margin: 10px;
  padding: 30px;
  transition: 1s;
  box-shadow: 4px 4px 10px lightgray;
  margin-left: 60px;
  background-color: white;
}
.gallery2:hover {
  transform: scale(1.1);
  transition: 1s;
}
.gallery2 .desc {
  padding: 10px;
  text-align: center;
}
.gallery2 img {
  width: 350px;
  height: 350px;
}

/*Videos del index*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.video {
  width: 450;
  height: 350;
  display: flex;
  justify-content: space-evenly;
}
.video iframe {
  box-shadow: 4px 4px 10px lightgray;
}

/*Estilos footer*/
footer {
  background-color: black;
  margin-top: 100px;
  padding: 2px;
}
footer .logo {
  display: grid;
}
footer .logo img {
  width: 75px;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
footer .logo h3 {
  font-size: 19px;
  margin-top: 20px;
  text-transform: uppercase;
  color: white;
  text-align: center;
}
footer .redes {
  text-align: center;
  margin: 15px;
}
footer .redes img {
  height: 30px;
  margin-right: 18px;
  transition: transform 0.5s;
}
footer .redes img:hover {
  transform: translateY(-5px);
  transition: transform 0.4s;
}
footer .flecha {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 25px;
  right: 15px;
  display: flex;
}
footer .texto {
  text-align: center;
  margin-top: 20px;
}
footer .texto p {
  color: rgba(255, 255, 255, 0.362);
  font-size: 15px;
}

.contenedor1 p {
  text-align: center;
  margin: 40px;
  padding: 50px;
  border-top-left-radius: 60px 80px;
  border-top-right-radius: 60px 80px;
  border: #372048 5px double;
}

.contenedor2 p {
  text-align: center;
  margin: 40px;
  padding: 50px;
  border-top-left-radius: 60px 80px;
  border-top-right-radius: 60px 80px;
  border: #372048 5px double;
}

/*Desktop*/
@media screen and (min-width: 1024px) {
  header {
    padding: 0 60px;
  }
  .carousel-inner {
    display: none;
  }
}
/*Mobile*/
@media only screen and (max-width: 700px) {
  /*Títulos y subtítulos*/
  h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
  }
  p {
    font-size: 16px;
  }
  /*Estilos del header*/
  .hamburger {
    display: block;
  }
  header nav {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: -100%;
    top: 100px;
    width: 100%;
    background: #000000;
    padding: 30px;
    transition: 0.3s;
  }
  header nav ul {
    display: block;
  }
  header nav a {
    margin: 5px 0;
  }
  header #nav_check:checked ~ nav {
    left: 0;
  }
  /*Estilos del index*/
  .contenido1 {
    display: grid;
    align-items: center;
    min-height: 50vh;
    width: 100%;
    background-image: url(../images/Portdada\ mobile.png);
    background-size: cover;
    background-position: center;
  }
  .contenido1 h1 {
    background: linear-gradient(180deg, rgb(169, 112, 104) 9%, rgb(161, 76, 75) 53%, rgb(132, 50, 50) 85%);
    background-clip: text;
    color: transparent;
    text-align: center;
    position: relative;
    bottom: 30%;
    font-size: 20px;
  }
  .contenido1 p {
    text-align: center;
    font-size: 80%;
    color: beige;
    background: radial-gradient(circle, rgb(39, 31, 31) 50%, rgb(56, 45, 42) 80%, rgb(71, 59, 53) 94%);
    padding: 3.5px;
    position: relative;
    top: 50%;
  }
  /*Videos del index*/
  .video {
    display: none;
  }
  .carousel-inner {
    display: flex;
    justify-self: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
  }
  .carousel-inner iframe {
    box-shadow: 2px 2px 12px lightgray;
  }
  .carousel-control-next,
  .carousel-control-prev {
    filter: invert(100%);
  }
  /*Estilos de biografía*/
  .contenido2 {
    width: 100%;
  }
  .contenido2 h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    padding: 0;
  }
  .contenedor1 {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .contenedor1 img {
    width: 100%;
    height: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .contenedor1 p {
    margin-top: 0;
    padding: 40px;
  }
  .contenedor2 {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .contenedor2 img {
    width: 100%;
    height: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .contenedor2 p {
    margin-bottom: 0;
    padding: 40px;
  }
  /*Estilos de miembros*/
  .boxcontenido {
    display: none;
  }
  h1 {
    font-size: 30px;
    text-align: center;
    margin: 40px;
    padding: 0;
  }
  .boxcontenido2 {
    margin: 0;
    padding: 0;
    width: 70%;
    position: relative;
    left: 15%;
  }
  .boxcontenido2 img {
    width: 100%;
  }
  .boxcontenido2 p {
    margin: 0px;
    padding-top: 8px;
    text-align: center;
  }
  /*Estilos de música*/
  .contenido4 {
    width: 100%;
    text-align: center;
  }
  .contenido4 h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    padding: 0;
  }
  .contenido4 .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .contenido4 .gallery img {
    width: 160px;
    height: 160px;
    margin: 5px;
    box-shadow: 5px 5px 8px lightgray;
    transition: 1s;
  }
  .contenido4 .gallery img:hover {
    width: 170px;
    height: 170px;
    transition: 1s;
  }
  /*Estilos del merch*/
  .contenido5 {
    width: 100%;
    text-align: center;
  }
  .contenido5 h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    padding: 0;
  }
  .contenido5 .gallery2 {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 25px;
    grid-auto-rows: minmax(100px, auto);
  }
  .contenido5 .gallery2 .desc {
    margin-top: 60px;
  }
  .contenido5 .gallery2 img {
    width: 180px;
    height: 180px;
    width: 100%;
  }
  /*estilos footer*/
  footer {
    margin-top: 65px;
  }
  footer .redes {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  footer .flecha {
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 25px;
    right: 20px;
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
